body{

}
.header{
background-color: rgb(151, 180, 243);
color: white;
border-radius: 15px;
position: relative;
}
.header:hover{
    background-color: rgb(116, 140, 248);
    color: black;
}
.img-1{
    width: 50px;
    height: 40px;
    border-radius: 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: 0px 100px;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
li a:hover{
    background-color: aqua;
    background-color: orange;
    padding: 6px 9px;
    border-radius: 10px;
    color: black;
}
/*end*/
.header-main{
    background-image: url(img/backround\ img.jpg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 100%, 1500px;
    margin-top: -20px;
    border-radius: 10px;
    padding: 20px;
}
.shear{
    color: white;
    padding-left: 20px;
    font-size: 15px;
    padding: 20px;
}
.fast-heading{
    color: white;
margin-right: 500px;
padding: 20px;
padding-top: 90px;
}
.find{
    font-size: 40px;
  /*padding: 20px;*/
  /*margin: 10px;*/
}
.new-era{
font-size: 25px;
}
.btn-primary{
    background-color: blue;
    color: white;
    padding: 8px 60px;
    outline: none;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: rgb(123, 238, 238);
    color: black;
    transition: all ease-in 0.3s;
}
/*main start*/
main{
    background-color: white;
    margin: 0 auto;
}
.section-fast{
 
   justify-content: center;

 
}
.section-heading{
   
    margin-left: 400px;
  margin-top: -5px;
  
}
.new-head{
    font-weight: bold;
    margin-left: 80px;

}
.find-head{
    margin-top: -15px;
   font-size: 40px;
   color: #5f5d5d;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-secendary{
    margin-left: 400px;
    margin-top: -20px;
}
.btn-button{
     background-color: black;
    padding: 12px 30px;
    color: rgb(255, 245, 245);
 
}
.btn-button:hover{
    background-color: rgb(140, 255, 140);
    color: black;
    transition: all ease-in 0.3s;
}
.one-item{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -10px;
}
/*car item*/
.car-item{
 margin-left: 400px;
}
.car-line{
    margin-left: 60px;
    margin-top: -30px;
}
.car-title{
    font-size: 20px;
    color: black;
}
.car-head{
    color: #474747;
    margin-top: -15px;
}
/**end/